<h1>Welcome to MediKuy.com, <%= @user.full_name %></h1>
  <p>
    You have successfully signed up to MediKuy.com,
    your Full Name is: <%= @user.full_name %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>