<h1>Hello, <%= @user.full_name %></h1>
  <a href="https://medikuy.herokuapp.com/reset_password/<%= @user.reset_password_token %>"><p>
    click here to reset your password.
  </p> </a>
<p>Great day!!</p>